.back-to-home {
    position: fixed;
    top: 4%;
    left: 2%;
    z-index: 1;
}
.btn.btn-icon {
    height: 36px;
    width: 36px;
    line-height: 34px;
    padding: 0;
}
.btn-danger {
    background-color: #f3f4f6;
    border: 1px solid rgb(31 41 55);
    color: rgb(31 41 55);
    box-shadow: 0 3px 5px 0 rgba(216, 219, 227, 0.3);
}
.btn-danger:hover {
    background-color: #f3f4f6;
    border: 1px solid #f23849;
    color: #f23849 !important;
    box-shadow: 0 3px 5px 0 rgba(216, 219, 227, 0.3);
}
