@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  color: #25272b;
  font-size: 15px;
}

h1,
h3,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

a {
  text-decoration: none;
  outline: none;
}

html {
  scroll-padding-top: 59px;
  scroll-behavior: smooth;
}

.row > * {
  position: relative;
}

.text-info {
  color: #49c6e5 !important;
}

.text-warning {
  color: #f4b942 !important;
}

.text-danger {
  color: #ef4b4b !important;
}

.bg-dark {
  background-color: #25272b !important;
}

.text-muted {
  color: #9da9bb !important;
}

.text-white {
  color: #ffffff !important;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.fs-17 {
  font-size: 17px;
}

.fw-medium {
  font-weight: 500;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

#style-switcher {
  transition: all 0.4s;
  background: none repeat scroll 0 0 #f8f9fa;
  box-shadow: 0px 4px 12px rgba(37, 39, 43, 0.07);
  left: -189px;
  position: fixed;
  top: 26%;
  width: 189px;
  z-index: 999;
  padding: 10px 5px;
}

#style-switcher .settings {
  background: #343a40;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  right: -45px;
  top: 0;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
}

ul.pattern {
  overflow: hidden;
  border-radius: 0px;
}

ul.pattern li {
  float: left;
  margin: 2px;
}

ul.pattern li a {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 30px;
  margin: 5px;
}

ul.pattern .color1 {
  background-color: #F23849;
}

ul.pattern .color2 {
  background-color: #06ba63;
}

ul.pattern .color3 {
  background-color: #f4b942;
}

ul.pattern .color4 {
  background-color: #3f8efc;
}

ul.pattern .color5 {
  background-color: #49c6e5;
}

ul.pattern .color6 {
  background-color: #8850f8;
}

ul.pattern .color7 {
  background-color: #202124;
}

ul.pattern .color8 {
  background-color: #FFFFFF;
  border: 1px solid black;
}

@media only screen and (max-width: 479px) {
  #style-switcher {
    display: none;
  }
}

.btn {
  padding: 12px 28px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
  border: 1px solid #25272b;
  overflow: hidden;
  position: relative;
}

.btn:focus {
  box-shadow: none;
}

.btn:after {
  background: rgba(255, 255, 255, 0.25);
  content: "";
  height: 155px;
  left: -75px;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 0.9s ease;
  width: 50px;
  z-index: 1;
}

.btn:hover:after {
  left: 110%;
}

.btn-primary {
  background: #3f8efc;
  border-color: #3f8efc !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
  background: #2b82fc;
  border-color: #2b82fc;
  box-shadow: 0px 8px 20px -6px rgba(63, 142, 252, 0.6);
  transform: translateY(-6px);
}

.btn-info {
  background: #49c6e5;
  border-color: #49c6e5 !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled):active:focus {
  background: #37c0e2;
  border-color: #37c0e2;
  box-shadow: 0px 8px 20px -6px rgba(73, 198, 229, 0.6);
  transform: translateY(-6px);
}

.btn-warning {
  background: #f4b942;
  border-color: #f4b942 !important;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled):active:focus {
  background: #f3b22f;
  border-color: #f3b22f;
  box-shadow: 0px 8px 20px -6px rgba(244, 185, 66, 0.6);
  transform: translateY(-6px);
}

.btn-danger {
  background: #ef4b4b;
  border-color: #ef4b4b !important;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled):active:focus {
  background: #ed3838;
  border-color: #ed3838;
  box-shadow: 0px 8px 20px -6px rgba(239, 75, 75, 0.6);
  transform: translateY(-6px);
}

@keyframes spin {
  0%,
  100% {
    transform: translateX(200%);
  }
  25% {
    transform: translateY(200%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateY(0);
  }
}

.navbar {
  transition: all 0.5s ease;
  padding: 0px;
  background-color: #ffffff;
}

.navbar .navbar-brand {
  transition: all 0.5s ease;
  line-height: 67px;
  padding: 0px;
}

.navbar .navbar-nav .nav-item > .nav-link {
  color: #25272b;
  font-size: 13px;
  padding: 24px 8px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0 6px;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
}

.navbar .navbar-nav .nav-item > .nav-link:hover, .navbar .navbar-nav .nav-item > .nav-link:active, .navbar .navbar-nav .nav-item > .nav-link.active {
  color: #3f8efc;
}

.navbar .navbar-toggler {
  padding: 0px;
  border: none;
  font-size: 24px;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

@keyframes DropDownSlide {
  100% {
    margin-top: -1px;
  }
  0% {
    margin-top: 8px;
  }
}

@media (max-width: 991px) {
  .navbar {
    padding: 12px 0;
    background-color: #ffffff;
  }
  .navbar .navbar-nav .nav-item > .nav-link {
    padding: 10px 8px;
  }
}

#home {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-subtitle {
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 15px;
}

.bg-home4 {
    size: 100%;
  padding: 160px 0 50px 0;
}

.shape {
  position: absolute;
  pointer-events: none;
  right: 0;
  bottom: 0px;
  left: 0;
}

.feature-box {
  text-align: center;
  background-color: transparent;
  transition: all 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-10px);
}

.feature-icon {
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background-color: rgba(63, 142, 252, 0.2);
  color: #3f8efc;
  font-size: 30px;
  border-radius: 50%;
}

.price-box {
  padding: 40px 50px;
  transition: all 0.5s ease;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
}

.price-box .plan-price sup {
  top: -1.5rem;
  font-size: 29px;
}

@media (max-width: 767.98px) {
  .price-box .plan-price sup {
    top: -1rem;
    font-size: 20px;
  }
}

.price-box .plan-price sub {
  bottom: -0.15rem;
  font-size: 15px;
}

.price-box .price-features i {
  background-color: rgba(63, 142, 252, 0.15);
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  margin-right: 10px;
}

.form-control {
  padding: 12px 20px;
  border-color: rgba(37, 39, 43, 0.2);
  box-shadow: rgba(149, 157, 165, 0.08) 0px 8px 24px;
}

.form-control:focus {
  box-shadow: rgba(149, 157, 165, 0.08) 0px 8px 24px;
  border-color: #3f8efc;
}

.form-control::placeholder {
  color: #ced4da;
}

.social-list .social-icon {
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-list .social-icon:hover {
  color: #3f8efc;
  border-color: #3f8efc;
}

.footer-link {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
}

.footer-link:hover {
  color: rgba(255, 255, 255, 0.8);
}
